<td>{{game.date}}</td>
<td>{{game.time}}</td>
<td>{{game.home-team}}</td> 
<td>{{game.home-team.points}}</td> 
<td>{{game.away-team}}</td> 
<td>{{game.away-team.points}}</td>       
<td><button><a href="/dashboard/edit/{{game.id}}" class="edit-link">Edit Game</a></button></td>
<td><button class="game-delete-btn">Delete Game</button></td>