<td>{{game.id.date}}</td>
<td>{{game.id.time}}</td>
<td>{{game.id.home-team}}</td> 
<td>{{game.id.home-team.points}}</td> 
<td>{{game.id.teams.away-team}}</td> 
<td>{{game.id.teams.away-team.points}}</td> 