<td>{{dataValues.date}}</td>
<td>{{dataValues.time}}:00 p.m.</td>
<td>{{dataValues.home_team}}</td> 
<td>{{dataValues.home_team.points}}</td> 
<td>{{dataValues.away_team}}</td> 
<td>{{dataValues.away_team.dataValues.points}}</td>