<td>{{date}}</td>
<td>{{time}}</td>
<td>{{home_team}}</td> 
<td>{{home_team.points}}</td> 
<td>{{away_team}}</td> 
<td>{{away_team.points}}</td>       
<td><button><a href="/dashboard/edit/{{id}}" class="edit-link">Edit Game</a></button></td>
<td><button class="game-delete-btn">Delete Game</button></td>