<td>{{dataValues.date}}</td>
<td>{{dataValues.time}}:00 p.m.</td>
<td>{{dataValues.home_team}}</td> 
<td>{{dataValues.home_team.points}}</td> 
<td>{{dataValues.away_team}}</td> 
<td>{{dataValues.away_team.dataValues.points}}</td>
{{#if is_Admin}}       
<td><button><a href="/dashboard/edit/{{dataValues.game_id}}" class="edit-link">Edit Game</a></button></td>
<td><button class="game-delete-btn">Delete Game</button></td>
{{/if}}