  <section data-aos="slide-right" data-aos-duration="500" class='radius shadow1'>
    <h3 id="create-a-team" class='padding1 margin1'>Create A Team</h3>
    <form class="create-team-form margin1 padding1 radius login-form row left-align">
      <label for="team-name">Team Name</label>
      <input type="text" name="team-name" id="team-name">
      <label for="team-code">Team Code</label>
      <input type="text" name="team-code" id="team-code">
      <div class="center-align"><button type="submit" class="waves-effect teal lighten-3 btn"><div class='valign-wrapper'><span class="material-icons">add</span>Create Team</div></button></div>
    </form>
  </section>
  <section data-aos="slide-left" data-aos-duration="500">
    <h3 id="league-standings">League Standings</h3>
    <table class='highlight'>
      <tr>
        <th>Team Name</th>
        <th>Wins</th>
        <th>Losses</th>
        <th>Team Code</th>
      </tr>
      {{#each team}}
        <tr>
          {{> team-info }}
          <td>{{dataValues.code}}</td>
          <td><button class=" waves-effect waves-light btn"><a href="/edit/team/{{dataValues.team_id}}" class="edit-link icon-white"><span class="material-icons md-light">edit</span></a></button></td>
          <td><button class="team-delete-btn waves-effect red lighten-3 btn" id="{{dataValues.team_id}}"><span class="material-icons md-light">delete</span></button></td>
        </tr>
      {{/each}}
    </table>
  </section>
  <section data-aos="fade-in" data-aos-duration="1000" class='radius shadow1'>
    <h3 id="add-a-game" class='padding1 margin1'>Add A Game</h3>
    <form class="create-game-form left-align margin1 padding1">
      <label for="home-team">Home Team</label>
        <select name="home-team" id="home-team" class="browser-default">
          {{#each team}}
            <option value="{{dataValues.team_name}}">{{dataValues.team_name}}</option>
          {{/each}}
        </select>
      <label for="away-team">Away Team</label>
        <select name="away-team" id="away-team" class="browser-default">
          {{#each team}}
            <option value="{{dataValues.team_name}}">{{dataValues.team_name}}</option>
          {{/each}}
        </select>
      <label for="game-date">Game Date</label>
      <input type="date" id="game-date" name="game-date">
      <label for="game-time">Game Time</label>
      <select name="game-time" id="game-time" class="browser-default"> 
        <option value="6">6:00 p.m.</option>
        <option value="7">7:00 p.m.</option>
        <option value="8">8:00 p.m.</option>
        <option value="9">9:00 p.m.</option>
      </select>
      <div class='center-align'><button type="submit" class="team-delete-btn waves-effect teal lighten-3 btn"><div class='valign-wrapper'><span class="material-icons">add</span>Add Game</div></button></div> 
    </form>
  </section>
  <section data-aos="fade-up" data-aos-duration="500">
    <h3 id="schedule">League Schedule</h3>
    <table class='highlight'>
      {{> game-table-header}}
        {{#each game}}
          <tr>
            {{> game-partial}}    
            <td><button class="game-delete-btn waves-effect red lighten-3 btn" id={{dataValues.game_id}}><span class="material-icons">delete</span></button></td>
          </tr>
        {{/each}}
    </table>
  </section>
  <script src="/javascript/game-create.js"></script>
  <script src="/javascript/game-delete.js"></script>
  <script src="/javascript/team-create.js"></script>
  <script src="/javascript/team-delete.js"></script>
  <script src="/javascript/team-edit.js"></script>