  <section data-aos="slide-right" data-aos-duration="500">
    <h2 >Create A Team</h2>
    <form class="create-team-form">
      <label for="team-name">Team Name</label>
      <input type="text" name="team-name" id="team-name">
      <label for="team-code">Team Code</label>
      <input type="text" name="team-code" id="team-code">
      <button type="submit">Create Team</button>
    </form>
  </section>
  <section data-aos="slide-left" data-aos-duration="500">
    <h2>League Standings</h2>
    <table id="league-standings">
      <tr>
        <th>Team Name</th>
        <th>Points</th>
        <th>Team Code</th>
      </tr>
      {{#each team}}
        <tr>
          {{> team-info }}
          <td>{{dataValues.code}}</td>
          <td><button><a href="/dashboard/edit/{{dataValues.team_id}}" class="edit-link">Edit Team</a></button></td>
          <td><button class="team-delete-btn" id="{{dataValues.team_id}}">Delete Team</button></td>
        </tr>
      {{/each}}
    </table>
  </section>
  <section data-aos="fade-in" data-aos-duration="1000">
    <h2>Add A Game</h2>
    <form class="create-game-form">
      <label for="home-team">Home Team</label>
        <select name="home-team" id="home-team" class="browser-default">
          {{#each team}}
            <option value="{{dataValues.team_name}}">{{dataValues.team_name}}</option>
          {{/each}}
        </select>
      <label for="away-team">Away Team</label>
        <select name="away-team" id="away-team" class="browser-default">
          {{#each team}}
            <option value="{{dataValues.team_name}}">{{dataValues.team_name}}</option>
          {{/each}}
        </select>
      <label for="game-date">Game Date</label>
      <input type="date" id="game-date" name="game-date">
      <label for="game-time">Game Time</label>
      <select name="game-time" id="game-time" class="browser-default"> 
        <option value="6">6:00 p.m.</option>
        <option value="7">7:00 p.m.</option>
        <option value="8">8:00 p.m.</option>
        <option value="9">9:00 p.m.</option>
      </select>
      <button type="submit">Add Game</button> 
    </form>
  </section>
  <section data-aos="fade-up" data-aos-duration="500">
    <h2>League Schedule</h2>
    <table>
      {{> game-table-header}}
        {{#each game}}
          <tr>
            {{> game-partial}}    
            <td><button><a href="/dashboard/edit/{{dataValues.game_id}}" class="edit-link">Edit Game</a></button></td>
            <td><button class="game-delete-btn" id={{dataValues.game_id}}>Delete Game</button></td>
          </tr>
        {{/each}}
    </table>
  </section>
  <script src="/javascript/game-create.js"></script>
  <script src="/javascript/game-delete.js"></script>
  <script src="/javascript/game-edit.js"></script>
  <script src="/javascript/team-create.js"></script>
  <script src="/javascript/team-delete.js"></script>
  <script src="/javascript/team-edit.js"></script>