  <section class="container"data-aos="slide-right" data-aos-duration="500">
    <h2 >Create A Team</h2>
    <form class="create-team-form mb-3">
      <label for="team-name">Team Name</label>
      <input type="text" name="team-name" id="team-name">
      <label for="team-code">Team Code</label>
      <input type="text" name="team-code" id="team-code">
      <button type="submit"><span class="material-icons">
send
</span>
Create Team</button>
    </form>
  </section>
  <section data-aos="slide-left" data-aos-duration="500">
    <h2>League Standings</h2>
    <table id="league-standings" class="table">
      <tr>
        <th scope="col">Team Name</th>
        <th scope="col">Wins</th>
        <th scope="col">Losses</th>
        <th scope="col">Team Code</th>
      </tr>
      {{#each team}}
        <tr>
          {{> team-info }}
          <td>{{dataValues.code}}</td>
          <td><button type="button" class="btn btn-info modal-btn"  data id="edit{{dataValues.team_id}}"><span class="material-icons">edit</span></button></td>
          <!-- Modal Structure -->
          
                 

          <td><button class="team-delete-btn" id="{{dataValues.team_id}}"><span class="material-icons">delete</span></button></td>
        </tr>
      {{/each}}
    </table>
  </section>
  <section data-aos="fade-in" data-aos-duration="1000">
    <h2>Add A Game</h2>
    <form class="create-game-form">
      <label for="home-team">Home Team</label>
        <select name="home-team" id="home-team" class="browser-default">
          {{#each team}}
            <option value="{{dataValues.team_name}}">{{dataValues.team_name}}</option>
          {{/each}}
        </select>
      <label for="away-team">Away Team</label>
        <select name="away-team" id="away-team" class="browser-default">
          {{#each team}}
            <option value="{{dataValues.team_name}}">{{dataValues.team_name}}</option>
          {{/each}}
        </select>
      <label for="game-date">Game Date</label>
      <input type="date" id="game-date" name="game-date">
      <label for="game-time">Game Time</label>
      <select name="game-time" id="game-time" class="browser-default"> 
        <option value="6">6:00 p.m.</option>
        <option value="7">7:00 p.m.</option>
        <option value="8">8:00 p.m.</option>
        <option value="9">9:00 p.m.</option>
      </select>
      <button type="submit">Add Game</button> 
    </form>
  </section>
  <section data-aos="fade-up" data-aos-duration="500">
    <h2>League Schedule</h2>
    <table class="table">
      {{> game-table-header}}
        {{#each game}}
          <tr>
            {{> game-partial}}    
            <td><button class="game-delete-btn" id={{dataValues.game_id}}><span class="material-icons">delete</span></button></td>
          </tr>
        {{/each}}
    </table>
  </section>
  
 <div id="modal1" class="modal fade" role="dialog" aria-labelledby="editModal" aria-hidden="true">
                          <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                            <div class="modal-header">
                                                <h4 class="modal-title">Edit {{dataValues.team_name}}</h4>
                                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                  <span aria-hidden="true">&times;</span>
                                                </button>
                                            </div>
                                            
                                            <div class="modal-body">
                                              <form>
                                                    <div class="form-group">
                                                      <label for="team-name" class="col-form-label">Team Name:</label>
                                                      <input type="text" class="form-control" id="team-name">
                                                    </div>

                                                    <div class="form-group">
                                                      <label for="message-text" class="col-form-label">Wins:</label>
                                                      <input type="text" class="form-control" id="wins"></input>
                                                    </div>

                                                    <div class="form-group">
                                                      <label for="message-text" class="col-form-label">Losses:</label>
                                                      <input type="text" class="form-control" id="losses"></input>
                                                    </div>

                                                    <div class="form-group">
                                                      <label for="message-text" class="col-form-label">Team Code:</label>
                                                      <input type="text" class="form-control" id="code"></input>
                                                    </div>

                                                    <div class="modal-footer">
                                                      <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                                      <button type="button" id class="btn btn-save">Submit</button>
                                                    </div>
                                              </form>
                                            </div>
                                </div>
                          </div>
                  </div>
  <script src="/javascript/game-create.js"></script>
  <script src="/javascript/game-delete.js"></script>
  <script src="/javascript/game-edit.js"></script>
  <script src="/javascript/team-create.js"></script>
  <script src="/javascript/team-delete.js"></script>
  <script src="/javascript/team-edit.js"></script>