{{#if is_Admin}}
  <section>
    <h2>Create A Team</h2>
    <form class="create-team-form">
      <label for="team-name">Team Name</label>
      <input type="text" name="team-name" id="team-name">
      <label for="team-code">Team Code</label>
      <input type="text" name="team-code" id="team-code">
      <button type="submit">Create Team</button>
    </form>
  </section>
  <section>
    <h2>Current Team List</h2>
    <ul>
      {{#each team}}
        <li>
          {{> team-info }}
          <a href="/dashboard/edit/{{team.team_id}}" class="edit-link">Edit Team</a>
          <button class="team-delete-btn">Delete Team</button>
        </li>
      {{/each}}
    </ul>
  </section>
  <section>
    <h2>Add A Game</h2>
    <form class="create-game-form">
      <label for="home-team">Home Team</label>
      <select name="home-team" id="home-team">
        {{#each team}}
          <option value="{{dataValues.team_name}}">{{dataValues.team_name}}</option>
        {{/each}}
      </select>
      <label for="away-team">Away Team</label>
      <select name="away-team" id="away-team">
        {{#each team}}
          <option value="{{dataValues.team_name}}">{{dataValues.team_name}}</option>
        {{/each}}
      </select>
      <label for="game-date">Game Date</label>
      <input type="date" id="game-date" name="game-date">
      <label for="game-time">Game Time</label>
      <select name="game-time" id="game-time"> 
        <option value="6">6:00 p.m.</option>
        <option value="7">7:00 p.m.</option>
        <option value="8">8:00 p.m.</option>
        <option value="9">9:00 p.m.</option>
      </select>
      <button type="submit">Add Game</button> 
    </form>
  </section>
  <section>
    <h2>League Schedule</h2>
    <table>
      {{> game-table-header}}
        {{#each game}}
          <tr>
            {{> game-partial}}
          </tr>
        {{/each}}
    </table>
  </section>
  <script src="/javascript/game-create.js"></script>
  <script src="/javascript/game-delete.js"></script>
  <script src="/javascript/game-edit.js"></script>
  <script src="/javascript/team-create.js"></script>
  <script src="/javascript/team-delete.js"></script>
  <script src="/javascript/team-edit.js"></script>
{{/if }}

{{#unless is_Admin}}
  <div>
    <h2>{{team.team_name}}</h2>
    <p>Team Record: {{team.wins}} Wins, {{team.losses}} Losses ({{team.points}} points)</p>
  </div>
  <section>
    <h2>Team Schedule</h2>
    <table>
      {{> game-table-header}}
        {{#each team.game}}
        <tr>
          {{> game-partial}}
        </tr>
        {{/each}}
    </table>
  </section>
  {{#unless team.game}}
    <section>
      <p>There are no scheduled games at this time.</p>
    </section>
  {{/unless}}

  <section>
    <h2>{{team.team_name}} Roster</h2>
    <table>
        <tr>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Email</th>
        </tr>
        {{#each user}} {{!-- consider this for iterating over array of objects where users info is contained: https://stackoverflow.com/questions/22696886/how-to-iterate-over-array-of-objects-in-handlebars --}}
        <tr>
            {{> player-info}}
        </tr>
        {{/each}}
    </table>
  </section>
{{/unless}}

